In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/grades.csv')
df.head(2)

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000

In [4]:
df1 = df.iloc[:,[0,1,3,5]]
df1.head(2)

,student_id,assignment1_grade,assignment2_grade,assignment3_grade
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,83.030552,67.164441
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,86.290821,69.772657

In [5]:
df1.apply(lambda z: print(type(z)))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

student_id           None
assignment1_grade    None
assignment2_grade    None
assignment3_grade    None
dtype: object

In [8]:
df1['final'] = df1.apply(lambda row: (row[1]+row[2]+(2*row[3]))/400, axis=1)

/Users/pawan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
df1.head(2)

,student_id,assignment1_grade,assignment2_grade,assignment3_grade,final
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,83.030552,67.164441,0.775233
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,86.290821,69.772657,0.781567

In [12]:
ns = int(len(df1) * 0.01)
ns

23

In [14]:
df1.final.argsort().head()

0    1424
1      15
2     226
3    2237
4     339
Name: final, dtype: int64

In [15]:
df1.final[1424]

0.13341549732972496

In [22]:
indicies = df1.final.argsort()
indicies.head()

0    1424
1      15
2     226
3    2237
4     339
Name: final, dtype: int64

In [17]:
df1.final[369]

0.9958171499128285

In [25]:
fs = df1.iloc[indicies[-ns:]][::-1]
fs.student_id.values

array(['DDE0526B-7DA4-80E8-C2A6-D097F3826029',
       '2B806EF6-A590-1C00-F0C5-1469E3B2152E',
       '1F51E050-78F7-F270-1B90-ED1BC0376763',
       'EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31',
       '2B806EF6-A590-1C00-F0C5-1469E3B2152E',
       'DDE0526B-7DA4-80E8-C2A6-D097F3826029',
       '6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC',
       '6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC',
       '247B105C-2067-A7AA-2CBE-B65278128C96',
       '1F51E050-78F7-F270-1B90-ED1BC0376763',
       '25197F10-E9E9-4C50-63F8-6C896975AAE2',
       'DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2',
       '247B105C-2067-A7AA-2CBE-B65278128C96',
       '5AB0D44C-86FF-2DE6-B096-B0F5D029E430',
       '42A3C4F0-7032-7368-2D67-989735754020',
       'DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2',
       '1F51E050-78F7-F270-1B90-ED1BC0376763',
       '25197F10-E9E9-4C50-63F8-6C896975AAE2',
       'DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2',
       '25197F10-E9E9-4C50-63F8-6C896975AAE2',
       '247B105C-2067-A7AA-2CBE-B65278128C96',
       '247B105C-2067-A7AA-2CBE-B65278128C96',
       '5AB0D44C-86FF-2DE6-B096-B0F5D029E430'], dtype=object)

In [26]:
ids = fs.student_id.values
print(ids)

['DDE0526B-7DA4-80E8-C2A6-D097F3826029'
 '2B806EF6-A590-1C00-F0C5-1469E3B2152E'
 '1F51E050-78F7-F270-1B90-ED1BC0376763'
 'EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31'
 '2B806EF6-A590-1C00-F0C5-1469E3B2152E'
 'DDE0526B-7DA4-80E8-C2A6-D097F3826029'
 '6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC'
 '6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC'
 '247B105C-2067-A7AA-2CBE-B65278128C96'
 '1F51E050-78F7-F270-1B90-ED1BC0376763'
 '25197F10-E9E9-4C50-63F8-6C896975AAE2'
 'DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2'
 '247B105C-2067-A7AA-2CBE-B65278128C96'
 '5AB0D44C-86FF-2DE6-B096-B0F5D029E430'
 '42A3C4F0-7032-7368-2D67-989735754020'
 'DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2'
 '1F51E050-78F7-F270-1B90-ED1BC0376763'
 '25197F10-E9E9-4C50-63F8-6C896975AAE2'
 'DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2'
 '25197F10-E9E9-4C50-63F8-6C896975AAE2'
 '247B105C-2067-A7AA-2CBE-B65278128C96'
 '247B105C-2067-A7AA-2CBE-B65278128C96'
 '5AB0D44C-86FF-2DE6-B096-B0F5D029E430']