In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/grades.csv')
df.head(2)

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000

In [4]:
df1 = df.iloc[:,[0,1,3,5]]
df1.head(2)

,student_id,assignment1_grade,assignment2_grade,assignment3_grade
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,83.030552,67.164441
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,86.290821,69.772657

In [5]:
df1.apply(lambda z: print(type(z)))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

student_id           None
assignment1_grade    None
assignment2_grade    None
assignment3_grade    None
dtype: object

In [8]:
df1['final'] = df1.apply(lambda row: (row[1]+row[2]+(2*row[3]))/400, axis=1)

/Users/pawan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
df1.head(2)

,student_id,assignment1_grade,assignment2_grade,assignment3_grade,final
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,83.030552,67.164441,0.775233
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,86.290821,69.772657,0.781567

In [12]:
ns = int(len(df1) * 0.01)
ns

23

In [14]:
df1.final.argsort().head()

0    1424
1      15
2     226
3    2237
4     339
Name: final, dtype: int64

In [15]:
df1.final[1424]

0.13341549732972496

In [22]:
indicies = df1.final.argsort()
indicies.head()

0    1424
1      15
2     226
3    2237
4     339
Name: final, dtype: int64

In [17]:
df1.final[369]

0.9958171499128285

In [23]:
df1.iloc[indicies[-ns:]][::-1]

,student_id,assignment1_grade,assignment2_grade,assignment3_grade,final
369,DDE0526B-7DA4-80E8-C2A6-D097F3826029,99.581715,99.581715,99.581715,0.995817
619,2B806EF6-A590-1C00-F0C5-1469E3B2152E,99.455813,98.955813,99.655813,0.994308
376,1F51E050-78F7-F270-1B90-ED1BC0376763,99.435672,98.935672,99.635672,0.994107
585,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,99.134693,99.134693,99.134693,0.991347
1174,2B806EF6-A590-1C00-F0C5-1469E3B2152E,97.952182,97.452182,98.152182,0.979272
300,DDE0526B-7DA4-80E8-C2A6-D097F3826029,97.604671,97.604671,97.604671,0.976047
1099,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,97.571739,97.571739,97.571739,0.975717
2160,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,97.473243,96.973243,97.673243,0.974482
903,247B105C-2067-A7AA-2CBE-B65278128C96,97.388763,96.888763,97.588763,0.973638
881,1F51E050-78F7-F270-1B90-ED1BC0376763,97.277300,96.777300,97.477300,0.972523
1218,25197F10-E9E9-4C50-63F8-6C896975AAE2,97.087879,97.087879,97.087879,0.970879
1229,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,96.982689,96.482689,97.182689,0.969577
1630,247B105C-2067-A7AA-2CBE-B65278128C96,96.819632,96.819632,96.819632,0.968196
1960,5AB0D44C-86FF-2DE6-B096-B0F5D029E430,96.478922,95.978922,96.678922,0.964539
86,42A3C4F0-7032-7368-2D67-989735754020,96.219108,96.219108,96.219108,0.962191
667,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,95.944829,95.444829,96.144829,0.959198
198,1F51E050-78F7-F270-1B90-ED1BC0376763,95.718485,95.718485,95.718485,0.957185
58,25197F10-E9E9-4C50-63F8-6C896975AAE2,95.568756,95.068756,95.768756,0.955438
1319,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,95.511848,95.011848,95.711848,0.954868
459,25197F10-E9E9-4C50-63F8-6C896975AAE2,95.425696,94.925696,95.625696,0.954007
1284,247B105C-2067-A7AA-2CBE-B65278128C96,95.271325,95.271325,95.271325,0.952713
1815,247B105C-2067-A7AA-2CBE-B65278128C96,95.251208,94.751208,95.451208,0.952262
895,5AB0D44C-86FF-2DE6-B096-B0F5D029E430,99.835987,99.835987,89.852389,0.948442